#aboutus{
text-align:center;
margin-top:90px;
font-family: 'Yanone Kaffeesatz';
font-size:70px;
}

#content{
  width:80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.content1{
  width:50%;
  float: left;
  height:200px;
}
.content2{
  width:50%;
  float: left;
  height:365px;
}
.content3{
  width:50%;
  float: left;
  height:365px;
}

footer{
  margin-top:50px;
  float: left;
  width:100%;
}

.info{
  font-family: 'Yanone Kaffeesatz';
  color: #545454;
  font-size:22px;
  margin-left:15px;
  margin-top: 35px;
  font-weight: lighter;
}
.info2{
  font-family: 'Yanone Kaffeesatz';
  font-size:22px;
  margin-left:15px;
  margin-top: 20px;
  color: #545454;
}
.infob{
  font-family: 'Yanone Kaffeesatz';
  font-size:30px;
  margin-left:15px;
  margin-top: 35px;
  color: #ec7a5c;
}
.infoc{
  font-family: 'Yanone Kaffeesatz';
  font-size:25px;
  margin-left:15px;
  margin-top: 20px;
}
ul{
  margin-left:60px;
  margin-top: 20px;
}
ul li{
    margin-top: 10px;
    font-family: 'Yanone Kaffeesatz';
    color: #545454;
    font-size:20px;
}
