@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');
body{
  background-color: #212F3D;
}
#panel{
  width:100%;
  background-color:6833FF;
  float: left;
  padding: 10px;
  font-family: 'DM Serif Display';
  font-size: 10px;
}
#welcome{
  float: right;
  margin-right: 20px;
  color: white;
}
#adminpanel{
  float: left;
  margin-left: 694px;
  color: white;
}
#myDIV {
  width: 30%;
  height: 42%;
  text-align: center;
  background-color: lightblue;
  margin-top: 100px;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  display: none;
  padding: 20px;
}

#opsionet{
width:15%;
float: left;
background-color:#212F3D ;
border-right: 1px solid white;
}

.opt{
  cursor:pointer;
  font-size: 20px;
  margin-left: 30px;
  margin-top: 50px;
  font-family: 'DM Serif Display';
  background: none;
  color: #7F8C8D  ;
  margin-bottom: 41.5px;
}





#myDIV input[type=text]{
  width: 100%;
  float: left;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top:20px;
  font-family: 'Yanone Kaffeesatz';

}
#myDIV input[type=number]{
width: 30%;
padding: 12px;
border: 1px solid #ccc;
border-radius: 4px;
box-sizing: border-box;
margin-top:20px;
font-family: 'Yanone Kaffeesatz';
margin-bottom: 10px;
}

#myDIV input[type=checkbox] {
    margin-left: 10px;
  }
  #myDIV input[type=file]{
    margin-top: 20px;
  }

  #myDIV input[type=submit] {
  margin-top:10px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
      font-family: 'Yanone Kaffeesatz'

  }

  #myDIV input[type=submit]:hover {
    background-color: #45a049;

  }


#fshij{
  width: 80%;
  text-align: center;
  margin-top: 100px;
  border-radius: 10px;
  margin-left: 300px;
  display: none;
}



#prod{
  margin-top:30px;
  margin-left: 15px;
   color:black;
   margin-bottom: 10px;
}

#prod img{

   width: 250px;
   height: 300px;
   margin-bottom:20px;
}

#prod {
 float: left;
 text-align: center;
}

.prodname{
  color:white;
  font-family: 'DM Serif Display';
}

.buton{
  border-radius: 10px;
  padding:3px;
  background-color: #F08080;
}

table{
  border:3px solid #4682B4;
  border-radius: 5px;
  border-collapse: collapse;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-top:160px;


}

table th{
  padding:8px;
  background-color: #4682B4;
  color:white;
  font-family: 'Yanone Kaffeesatz';
}
table td{
border:3px solid	white;
padding:5px;
}

#teksti{
  width:500px;
  word-wrap: break-word;
  font-size:15px;
}

table h4{
  text-align: center;
  color: white;
  font-family: 'Yanone Kaffeesatz';
}
table h3{
  text-align: center;
  color: white;
  font-family: 'Yanone Kaffeesatz';
}

a{
  text-decoration: none;
  color: white;
}


#users{
  display:none;
}
#emails{
  display:none;
}
#orders{
  display:none;
}
