@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

.kat{
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
  margin-bottom: 40px;
}
#contact-form input[type=text], textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    font-family: 'Yanone Kaffeesatz'
}
#email {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    font-family: 'Yanone Kaffeesatz'
}
#contact-form select {
  width: 20%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    font-family: 'Yanone Kaffeesatz'
}

#contact-form input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
    font-family: 'Yanone Kaffeesatz'

}

#contact-form input[type=submit]:hover {
  background-color: #45a049;

}

#forma {

    text-transform: uppercase;
    color: #6b034d;
    text-align: center;
    font-family: 'Yanone Kaffeesatz';
    font-size: 25px;

}

label{
   font-family: 'Yanone Kaffeesatz';
}
#shteti{
   font-family: 'Yanone Kaffeesatz';
   margin-left: 150px;
}


textarea{
  height:200px;
}
