
@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');
body{
  margin: 0;
}
.container{
  position: relative;
}
#banner{
  width:100%;
  height:86.7%;

}
#content{
  width: 50%;
  height:86.5%;
  float: right;
  background-color:#F4EDED;
}


#katrori{
  position: absolute;
  top:100px;
  left:612px;
  background-color: white;
  width: 20%;
  height:230px;
  border: 1px solid #E3DFDF;
  border-radius:4px;
    padding:15px 0px 20px 0px;
}
#katrori2{
  position: absolute;
  background-color: white;
  top:160px;
  left:575px;
  width:25%;
  height:416px;
  border: 1px solid #E3DFDF;
  border-radius:4px;
    padding:15px 0px 0px 0px;
}


form input[type=text],[type=password]{
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    font-family: 'Yanone Kaffeesatz';
}
#email{
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
    font-family: 'Yanone Kaffeesatz';
}

form input[type=submit]{
  position: absolute;
  background: rgb(28, 184, 65);
  border: 1px solid rgb(28, 184, 65);
  border-radius:4px;
  font-size: 16px;
  color:white;
  padding:5px 15px 5px 15px;
  font-family: 'Yanone Kaffeesatz';
  cursor: pointer;
  left:120px;
}

form{
  margin-top:20px;
  margin-left:52;

}
#format{
  margin-top:20px;
  margin-left:65;

}

label{
  font-family: 'Yanone Kaffeesatz';
  font-size:17px;
  color: #545454;
}
#signup{
  text-decoration: none;
  background: #3966CD;
  border: 1px solid #3966CD;
  border-radius:4px;
  font-size: 16px;
  color:white;
  padding:5px 15px 5px 15px;
  margin-left:116px;
  font-family: 'Yanone Kaffeesatz';
  cursor: pointer;

}
#signupi{
  text-decoration: none;
  background: #3966CD;
  border: 1px solid #3966CD;
  border-radius:4px;
  font-size: 16px;
  color:white;
  padding:5px 15px 5px 15px;
  margin-left:35px;
  margin-top:10px;
  font-family: 'Yanone Kaffeesatz';
  cursor: pointer;

}

#gabim{
  position: absolute;
    font-family: 'Yanone Kaffeesatz';
color:red;
top:165px;
left:700px;
}

#admin{
  margin-left:90px;
  margin-bottom: 10px;
}

#register{
  background: rgb(28, 184, 65);
  border: 1px solid rgb(28, 184, 65);
  border-radius:4px;
  font-size: 16px;
  color:white;
  padding:5px 15px 5px 15px;
  margin-left:355px;
  font-family: 'Yanone Kaffeesatz';
  cursor: pointer;
  text-decoration: none;
}
#exists{
  position: absolute;
    font-family: 'Yanone Kaffeesatz';
color:red;
top:135px;
left:730px;
}


#password{
  text-align: center;
  color:red;
}
