table{
  border:3px solid #4682B4;
  border-radius: 5px;
  border-collapse: collapse;
  width:60%;
  margin-left: auto;
  margin-right: auto;
  margin-top:20px;


}

table th{
  padding:8px;
  background-color: #4682B4;
  color:white;
  font-family: 'Yanone Kaffeesatz';
}
table td{
border:3px solid	#DB7093;
}

table h3{
  text-align: center;
  color: grey;
  font-family: 'Yanone Kaffeesatz';
}

a{
  text-decoration: none;
  color: grey;
}

h1{
  text-align: center;
  margin-top: 80px;
    font-family: 'Yanone Kaffeesatz';
}


.details{

  text-align: center;
  color: black;
  font-family: 'Yanone Kaffeesatz';
}

.tydy{
  padding:10px;
}
table td input {
  padding:10px;
 width: 100%;
 text-align: center;
 font-family: 'Yanone Kaffeesatz';
 font-size: 18px;

}

#delete a{
  font-family: 'Yanone Kaffeesatz';
  color:black;
}

#delete{
  text-align: center;
}

.butn{

}
.butn {
  margin-top:20px;
  margin-left:710px;
  background: #4acf40;
  background-image: -webkit-linear-gradient(top, #4acf40, #5ea819);
  background-image: -moz-linear-gradient(top, #4acf40, #5ea819);
  background-image: -ms-linear-gradient(top, #4acf40, #5ea819);
  background-image: -o-linear-gradient(top, #4acf40, #5ea819);
  background-image: linear-gradient(to bottom, #4acf40, #5ea819);
  -webkit-border-radius: 24;
  -moz-border-radius: 24;
  border-radius: 24px;
  -webkit-box-shadow: 0px 1px 5px #423d42;
  -moz-box-shadow: 0px 1px 5px #423d42;
  box-shadow: 0px 1px 5px #423d42;
  font-family: Arial;
  color: #ffffff;
  font-size: 15px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.butn:hover {
  cursor:pointer;
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

#cart{
  margin-top:60px;
}


#payment{
  margin-left:500px;
  margin-top:200px;
}
