@import url('https://fonts.googleapis.com/css?family=DM+Serif+Display');

#proddetails{
  width:1200px;
  height:600px;
  margin-left: 300px;
  margin-top: 100px;
}
#details img{
  width:350px;
  height:450px;
}

#details{
  float: left;
  width:352px;
  height: 450px;
}

#detajet{
float: left;
width:50%;
height:150px;
margin-left: 80px;
margin-top:20px;
}

#emri{
  width:100%;
  font-family: 'Yanone Kaffeesatz';
  font-size:50px;
  outline:none;
  padding:10px 5px 10px 5px ;
  margin-bottom:20px;
}
#yourname{
  font-size:20px;
  border:1px solid grey;
  width:100%;
  height:40px;
  margin-bottom:20px;
}

#cmimi{
  color:#f57e60;
  font-size: 20px;
  margin-top: 10px;
  font-weight: bold;
  width:8%;
  float:left;

}

#select{
  margin-left:80px;
  float: left;
  width: 420px;
}


#selekti {
    margin-top: 5px;
    border: 1px solid #ccc;
    width: 100%;
    border-radius: 3px;
    overflow: hidden;
    background: #fafafa;
    margin-bottom: 30px;
}

#selekti select {
    padding: 5px 8px;
    width: 130%;
    border: none;
    box-shadow: none;
    background: transparent;
    background-image: none;
    -webkit-appearance: none;
}

#selekti select:focus {
    outline: none;
}

label{
  font-family: 'Yanone Kaffeesatz';
}

.data{
  margin-top: 20px;
  font-family: 'Yanone Kaffeesatz';
  font-size:30px;
}


#related{
  margin-left:268px;
  width:1002px;
  height: 260px;
  margin-bottom:80px;
}

#ngjajshme{
  float:left;
  width:200px;
  height:259px;
}

#ngjajshme img{
  width:180px;
  height:200px;
}

#name{
  text-align: center;
}
#name a{
  font-family: 'Yanone Kaffeesatz';
  font-size:15px;
  text-align: center;
  text-decoration: none;
  color:black;
}

#qmimi{
float: left;
width:180px;
}
#emertimi{
  margin-top: 10px;
float: left;
width:180px;
}

#price{
  text-align: center;
  color:grey;
  font-family: 'Yanone Kaffeesatz';
}

#same{
  text-align: center;
  font-size: 18px;
  font-family: 'Yanone Kaffeesatz';
  margin-bottom: 40px;
}


h4{
  color:#f57e60;
  float: left;
  margin-left:-10px;
  margin-top: 13px;
}

.button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
}

.button1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.button1:hover {
  background-color: #4CAF50;
  color: white;
}


#editprod{
  text-align: center;
  font-family: 'Yanone Kaffeesatz';
  margin-top:20px;
}

.buttonn {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px 10px;
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  cursor: pointer;
}

.buttonn1 {
  background-color: white;
  color: black;
  border: 2px solid #4CAF50;
}

.buttonn1:hover {
  background-color: #4CAF50;
  color: white;
}
