
@import url('https://fonts.googleapis.com/css?family=Oswald');
html { overflow-x: hidden; }
#contentt{
  margin:0;
width: 100%;
float:left;
margin-top:50px;
margin-bottom: 68px;
margin-right: 50px;

}

 #contentt #prod{
   margin-top:30px;
   margin-left: 30px;
    color:black;
    margin-bottom: 10px;
}

 #contentt img{

   	width: 250px;
   	height: 300px;
  	margin-bottom:20px;
 }



footer{
	float:left;
width:100%;
}

#prod {
  float: left;
  text-align: center;
}

#contentt #link{
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
  color:black
}

#contentt p{
  font-family: sans-serif;
  color:grey;
  font-size: 14px;
}


#banner{
  width:100%;
}


.dropbtn {
  background-color: white;
  font-weight: bold;
  color: black;
  padding: 16px;
  font-size: 20px;
  font-family: 'Oswald';

}

.dropdown {
  margin-left: 60px;
  margin-top: 50px;
  display: inline-block;
  font-size:15px;
  font-family: 'Oswald';
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  border-radius: 10px;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: rgba(84,84,84,0.55);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd; border-radius:5px;}

.dropdown:hover .dropdown-content {display: block;}

#title{
  text-align: center;
}

#rightcontent{
  width:75%;
  float: right;
  margin-bottom: 20px;
}
#midcontent{
  width:80%;
  margin-left: auto;
  margin-right: auto;


}

.pagination {
    float:right;
    margin-right: 20px;

}
.pagination li {

  list-style: none;
  display: inline-block;
}

.pagination a {

  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.pagination a:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}


#contentttt{
  margin:0;
width: 100%;
float:left;
margin-top:50px;
margin-bottom: 68px;
margin-right: 50px;

}
#contentttt #prodd{
   margin-top:30px;
   margin-left: 30px;
    color:black;
    margin-bottom: 10px;
}

 #contentttt img{

   	width: 350px;
   	height: 400px;
  	margin-bottom:20px;
 }
#prodd {
  float: left;
  text-align: center;
}
#contentttt #link{
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
  color:black
}
#contentttt p{
  font-family: sans-serif;
  color:grey;
  font-size: 14px;
}
#kerko{
  margin-left: 560px;
  margin-top: 50px;
  width:30%;
  padding:10px;
  border-radius: 30px;
  border: 3px solid black;
  font-size:15px;
}

#llupa{
  font-size: 20px;
  cursor: pointer;
}
