@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

body{
  margin: 0;
}

header{
  background-color: white;
  padding-top: 10px;
  padding-bottom: 90px;
}

#logo{
  float: left;
  margin-left: 30px;
}

#title{
  color:black;
  margin-right:0;
  margin-bottom:0;
  margin-top:26px;
  float:left;
  margin-left:390px;
  font-size: 35px;
  font-family: 'Yanone Kaffeesatz';
}

#menyja{
  color:black;
  float: right;
  margin-right: 50px;
  margin-top:22px;

}


#menyja li{
  font-family: 'Yanone Kaffeesatz';
  font-size: 20px;
  display:inline;
  margin-left: 10px;
}
#menyja li a{
  text-decoration: none;
  color:black;
}

#firmat{
  margin-top:40px;
  margin-left: 20px;
}
.firma{
  margin-left: 210px;
}

#kategorite{
  text-align: center;
  margin-top: 120px;
  color:black;
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
}

.box {
  float: left;
  margin-left: 30px;
  background: #f2f2f2;
  border-radius: 10px;
  cursor: pointer;
  height: 500px;
  line-height: 95px;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 400px;
}

.box:hover {
  background: #999999;
}

.ekipi{
  width:60%;
  height: 60%;
}

.kategoria{
  font-family: 'Yanone Kaffeesatz';
  font-size: 30px;
}
#ekipkomb a{
  text-decoration: none;
  color:black;
}
#ekipkomb{
  margin-top: 70px;
  margin-left: 312px;
}

#content1{

   	width: 64%;
    margin-left:311px;
    margin-top: 700px;
    margin-bottom: 400px;
}

   #content1 #img_div{
	  float:left;
   	padding: 5px;
   	margin: 50px 0px 0px 10px;
    color:black;
    text-align:center;
}
 #content1 img{
   	float: left;
   	margin-bottom: 20px;
   	width: 200px;
   	height: 250px;
 }
#content1 a{
  font-size: 15px;
  font-family: sans-serif;
  text-decoration: none;
  color:black
}
#content1 p{
  font-family: sans-serif;
  color:grey;
  font-size: 14px;
}
   #new{
     font-family: 'Yanone Kaffeesatz';
     font-size: 30px;
     color:black;
     margin-left: 350px;
 }

*, *::before, *::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	border: 0;
}

.cd-slider {
	position: relative;
	width: 100%;
	height: 500px;
	overflow: hidden;
}

.cd-slider ul li {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	visibility: hidden;
	transition: visibility 0s .6s;
}
.cd-slider ul li::before {
	content: '';
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 100%;
	width: 135vh;
	height: 135vh;
	border: solid rgba(0,0,0,0.2);
	border-width: 0;
	transform: translate(-50%, -50%);
	pointer-events: none;
	transition: border-width .4s .6s;
}
.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-position: 50% 100%;
	background-size: auto 100%;
	background-repeat: no-repeat;
	opacity: 0;
	transform: scale(1.2);
	transition: opacity .4s .6s, transform .4s .6s;
}
.content blockquote {
	position: absolute;
	bottom: 5%;
	left: 4%;
	z-index: 2;
	max-width: 45%;
}
blockquote p {
	font-size: 40px;
  font-family: 'Yanone Kaffeesatz';
  color:white;
}

.cd-slider li.current_slide {
	visibility: visible;
}
.cd-slider li.current_slide::before {
	border-width: 16rem;
}
.cd-slider li.current_slide .content {
	opacity: 1;
	transform: scale(1);
}

nav div {
	position: absolute;
	top: 50%;
	left: 4%;
	width: 5rem;
	height: 5rem;
	margin-top: -2.5rem;
	list-style: none;
}
nav div:last-of-type {
	left: auto;
	right: 4%;
}
.prev, .next {
	position: relative;
	z-index: 100;
	width: 100%;
	height: 100%;
	display: block;
	border-radius: 100%;
	transition: box-shadow .3s;
}
.prev::before, .prev::after, .next::before, .next::after {
	content: '';
	position: absolute;
	left: 43%;
	background: #fff;
	width: .4rem;
	min-width: 3px;
	border-radius: 3px;
	height: 34%;
}
.prev::before {
	transform: rotate(45deg);
	top: 24%;
}
.prev::after {
	transform: rotate(-45deg);
	bottom: 24%;
}
.next::before, .next::after {
	left: auto;
	right: 43%;
}
.next::before {
	transform: rotate(-45deg);
	top: 24%;
}
.next::after {
	transform: rotate(45deg);
	bottom: 24%;
}
.prev:hover, .next:hover {
	box-shadow: 0 0 0 1rem rgba(0, 0, 0, 0.15);
}
nav > div > span {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 0;
	height: 0;
	border-radius: 100%;
	z-index: 5;
	pointer-events: none;
	will-change: width, height;
	transform: translate(-50%, -50%);
	transition: width .6s, height .6s;
}


footer{
    background-color:#f4f4f4;
    padding:100px;
}

#socials{
  width: 180px;
  margin-left:555px;
  margin-right: auto;
}
.social{
  margin-left: 30px;
  width: 25px;
}

footer h3{
  font-family: 'Yanone Kaffeesatz';
  width:393px;
  margin-left: 530px;
  margin-top: 30px;
  font-weight: lighter;
}
